<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <%=mensaje %>
    <img class="product-img" src="../../public/errorImg.jfif"/><br/>
    <%- include('../partials/footer'); %> 
  </body>
</html>
