{{!-- {{> navbar}}
<br/>  --}}
<div>
    <form id="productsForm" class="flex-form">
        <h1 class="titulo-form">Ingrese producto: </h1>
        <label class="label-inputs">TITULO</label>
        <input id="title" type="text" name="title" />
        <label class="label-inputs">PRECIO</label>
        <input id="price" type="text" name="price" />
        <label class="label-inputs">FOTO DEL PRODUCTO (SOLO URL )</label>
        <input id="thumbnail" type="text" name="thumbnail" />
        <button class="button-sumar" type="button" onclick="addProduct(productsForm)">SUMAR PRODUCTO</button>
    </form>
</div>