.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    animation:opacidad 2s;    
    animation-delay: 2s;
  }

  .loading__circle-container {
    display: flex;
    justify-content: center;
    align-items: center;    
 
    left: -35px;
    top: -50px;
  }

  .loading__blur-container {
    position: relative;
  }

  .loading__circle {
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    transform: scale(0.7);
    filter: blur(50px);
    animation: loadingBlur 1.5s linear infinite;
  }


  .loading__circle--top {
    top: -8%;
    background-color: #82cea5;
    animation-delay: 0.2s;
    z-index: 5;
  }

 
  .loading__circle--right {
    right: -8%;
    background-color: #609cc8;
    animation-delay: 0.4s;
    z-index: 2;
  }

  
  .loading__circle--bottom {
    bottom: -8%;
    background-color: #ffd493;
    animation-delay: 0.6s;
    z-index: 3;
  }

  
  .loading__circle--left {
    left: -8%;
    background-color: #8ff1ea;
    z-index: 1;
  }

  .loading__circle--center {
    position: relative;
    border-radius: 50%;
    height: 320px;
    width: 320px;
    animation: none;
    mix-blend-mode: overlay;
    filter: blur(0);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3),
      inset 0 0 10px 5px rgba(255, 255, 255, 1);
      display: flex;
    justify-content: center;
    align-items: center;
  }



 

  @keyframes loadingBlur {
    0%,
    100% {
      transform: scale(0.7);
      filter: blur(50px) saturate(100%) hue-rotate(0deg);
    }

    50% {
      transform: scale(1.4);
      filter: blur(50px) saturate(110%) hue-rotate(0deg);
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  @keyframes opacidad {
    from {
      opacity: 1;
    }

    to {
        opacity: 0;
    }
  }

/*Finish-Loading*/