{{!-- {{> navbar}} --}}
<div class="contenedor">
    <div class="card-1">
        <div>
            {{>formulario}}
        </div>
        <div class="contenedor-table">
            <table class="table table-dark table-striped" id="products">

            </table>
        </div>
    </div>
    <div class="card-2">
        <h1 style="text-align: center;"> CHAT DE SOPORTE</h1>
        <div class="contenedor-mensajes">
           <table id="message"></table>
        </div>
        <div>
                    {{>chat}}
        </div>
    </div>
</div>