<form id="messageForm" action="" method="post">
  <fieldset>
    <label class="label-inputs">ingrese su email: </label>
    <input class="input-email" id="email" type="email" name="radio" > 
    <input id="message" type="text" name="radio" > 
    <button type="button" onclick="addMessage(messageForm)">buttonn</button>
  </fieldset>
</form>