<form id="messageForm" action="" method="post" class="flex-form">
    <label class="label-inputs">ingrese su email: </label>
    <input class="input-email" id="email" type="email" > 
    <label class="label-inputs">ingrese su mensaje: </label>
    <input class="input-email" id="message" type="text"> 
    <button class="button-chat" type="button" onclick="addMessage(messageForm)">Enviar Mensaje</button>
</form>